body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-image: url('licensed-image.jpg');
    background-size: cover;
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weather-container {
    background: rgba(211, 211, 211, 0.85); /* opaque light grey background */
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    width: 70%;
    max-width: 500px;
    text-align: center;
    color: black; /* black text color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#astronomy-container {
    background: rgba(255, 255, 255, 0.85); /* opaque white background */
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    width: 70%;
    max-width: 500px;
    text-align: center;
    color: black; /* black text color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-top: 0;
    font-family: 'Georgia', serif;
    font-size: 1.5em;
}

#weather-icon {
    width: 50%; /* smaller icon size */
    height: auto;
    margin: 10px 0;
}

#temp-div, #weather-info, #hourly-forecast, #daily-forecast, #apod-title, #apod-description {
    margin-bottom: 10px;
    font-family: 'Verdana', sans-serif;
    font-size: 1em;
}

#apod-image {
    width: 100%;
    height: auto;
    margin: 10px 0;
}